services:
  postgres:
    container_name: postgres
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgresql/18/main
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
    ports:
      - "$5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - nestjs-course

volumes:
  postgres_data:

networks:
  nestjs-course:
